.cart {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 270px;
    grid-template-areas: "img inf";
    background-color: rgb(255, 255, 255);
    border: 1px solid #000000;
    margin: 0.5%;
  
    border-width: 7px;
    background-color: rgb(233, 230, 182);
  }


  .myCart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: oblique;
  }
.information{
   

     display: grid;
     grid-template-columns: auto;
}
.information h{
    font-weight: 700;
}

.information button{
    width: 25%;
    height: 80%;
    background-color: #000000;
    color: azure;
    font-weight: 900;
    border-radius: 10%;
   
}
.information input{
margin: 6px;
}
