.cart {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 250px;
  grid-template-areas: "img inf";
  /* border: 1px solid rgb(0, 87, 145); */
  box-shadow:0px 0px 15px 5px  rgb(167, 166, 166);
  margin: 1%;

  border-width: 7px;
  background-color: rgb(221, 235, 248);
 
}
.imgo {
  grid-area: img;
  height: 100%;
  width: 40%;
  margin-left: 5%;
}
.information {
  display: grid;
  grid-template-columns: 100%;
  
}
.information h {
  size: 6%;
  font-weight: 800;
 
}
.information button {
  width: 70%;
  margin: 1%;
  background-color: rgb(65, 193, 253);
  border: none;
  color: azure;
  font-weight: 900;
  height: 60%;
  box-shadow:0px 0px 6px 3px  rgb(167, 166, 166);
  transition: 0.7s ease;

}
.information button:hover{

    background-color: rgb(11, 13, 156);
    transform: scale(1.2);




}

.information input {
  width: 40%;
  height: 40%;
}
.final {
  display: grid;
  grid-template-columns: 20% 20% 
  

}
.location {
  display: flex;
  flex-direction: row;
}