.products {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
}
.allimg {
  width: 70%;
  height: 70%;
}
.oneProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.oneProduct h {
  font-style: oblique;

  font-weight: 1000;
}
