/* .img {
    height: 370px;
    width: 370 px;
    margin: 20px;
} */
/* .product {
    display: flex;
    flex-direction: row;
    justify-content: center;
flex-wrap: wrap;
}

.oneProduct{
    display: flex;
    flex-direction: column;
    width: 380px;
} */