.totalPrice {
  color: rgb(122, 1, 1);
  font-style: oblique;
  font-weight: 900;
}
.myOrder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: oblique;
}

.order {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 180px;
  grid-template-areas: "img inf";

  box-shadow:0px 0px 15px 5px  rgb(167, 166, 166);
  margin: 0.5%;

  border-width: 7px;
  background-color: rgb(221, 235, 248);
}
.imgo {
  grid-area: img;
  height: 100%;
  width: 40%;
  margin-left: 5%;
}
.infor {
  display: grid;
  grid-template-columns: 100%;
}
.infor h {
  size: 10%;
  font-weight: 800;
}
.infor button {
  width: 25%;
  margin: 1%;
  background-color: rgb(65, 193, 253);
  border: none;
  color: azure;
  font-weight: 900;
  height: 60%;
  box-shadow:0px 0px 6px 3px  rgb(167, 166, 166);
  transition: 0.7s ease;
}
.infor button:hover{

  background-color: rgb(11, 13, 156);
  transform: scale(1.2);




}
