.totalPrice {
  color: rgb(122, 1, 1);
  font-style: oblique;
  font-weight: 900;
}
.myOrder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: oblique;
}

.order {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 180px;
  grid-template-areas: "img inf";

  border: 1px solid rgb(0, 87, 145);
  margin: 0.5%;

  border-width: 7px;
  background-color: rgb(221, 235, 248);
}
.imgo {
  grid-area: img;
  height: 100%;
  width: 40%;
  margin-left: 5%;
}
.infor {
  display: grid;
  grid-template-columns: 100%;
}
.infor h {
  size: 10%;
  font-weight: 800;
}
.infor button {
  width: 25%;
  margin: 1%;
  background-color: rgb(65, 193, 253);
  border: none;
  color: azure;
  font-weight: 900;
  height: 60%;
}
